# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.idea/
.junie/
.idea/*.xml

# Environment variables
.env

# Model checkpoints
models/*/checkpoints/

# Data
data/

# Generated visualization files
*.png
*.jpg

*.py
!src/*.py
TODO.*

*.bat
*.csl
*.bib