pandas~=3.0.3
kagglehub~=1.0.2
python-dotenv~=1.2.2
numpy~=2.4.4
opencv-python~=4.13.0.92
torch~=2.12.0 # For GPU support, install using: pip install torch torchvision --index-url https://download.pytorch.org/whl/cu132
albumentations~=2.0.8
matplotlib~=3.10.9
torchvision~=0.27.0
scikit-learn~=1.9.0
torchmetrics~=1.9.0
tqdm~=4.68.2
tabulate~=0.10.0
ipython~=9.14.1